snippet ifmod
	<IfModule ${1}>
		${2}
	</IfModule>
snippet lmod
	LoadModule ${1}
snippet sroot
	ServerRoot ${1}
snippet sname
	ServerName ${1}
snippet li
	Listen ${1}
snippet docroot
	DocumentRoot ${1}
snippet vhost
	VirtualHost ${1}
snippet dir
	<Directory ${1}>
		${2}
	</Directory>
