snippet layer
	.layer  {
		float: left; /* Обтекание по правому краю */
		background: #fd0; /* Цвет фона */
		border: 1px solid black; /* Параметры рамки */
		padding: 10px; /* Поля вокруг текста */
		margin-right: 20px; /* Отступ справа */
		width: 40%; /* Ширина блока */
	}
